@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap');

body {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: #354548;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}

.portfolio__container {
  padding-top: 20px;
}

.portfolio__row {
  min-height: 72vh;
}

a {
  text-decoration: none !important;
  color: #354548 !important;
}
a:hover {
  text-decoration: none;
  color: #000;
}

.portfolio__main-content {
  background: #fff;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
}

/* Sidebar  */
.sidebar {
  background: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 20px 15px;
  text-align: center;
  box-shadow: 0 0 10px black;
}
.sidebar__avatar {
  height: 120px;
  width: 120px;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar__icon {
  width: 25px;
  height: 25px;
  /* color: #00f260; */
}

.sidebar__name {
  font-family: Kaushan Script;
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.sidebar__name > span {
  color: #00f260;
}
.sidebar__item {
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1.05rem;
  border-radius: 30px;
}

.sidebar__title {
  background-color: #f1f1f1;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.sidebar__resume {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.sidebar__contact {
  background-color: #dbdddf;
  padding: 2px 0;
  margin: 10px -15px;
}

.sidebar__email {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
  text-transform: capitalize;
  border-radius: 30px;
  color: #fff;
  margin: 15px 25px 0px;
  cursor: pointer;
  transition: all 3s linear;
  font-family: 'Roboto', sans-serif;
}

.sidebar__email:hover {
  transform: scale(1.2);
}

.sidebar__github:hover,
.sidebar__linkdin:hover,
.sidebar__facebook:hover,
.sidebar__resume:hover {
  background-color: #f1f1f2;
  color: #000;
}

/* Navbar */
.navbar__items {
  display: flex;
  font-family: 'Raleway', sans-serif;
}
.navbar__active {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #354358;
  border-bottom: 4px solid #00f260;
}
.navbar__item {
  margin-right: 20px;
  text-decoration: none;
  color: #354358;
  font-size: 1.3rem;
  cursor: pointer;
}
.navbar__item:hover {
  background: -webkit-linear-gradient(#00f260, #0575e6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About Section */
.about {
  padding: 0 10px;
  margin: 0 -2px;
  height: 72vh;
  overflow-y: auto;
}
.about__intro {
  font-size: 1.1rem;
  padding: 10px 20px;
  margin: 10px 0;
}
.about__container {
  background-color: #dbdddf;
  padding: 10px 20px;
  border-radius: 15px;
}

.about__heading {
  font-size: 25px;
  font-weight: 700;
  color: #354358;
  margin-left: 10px;
}

/* skill card */

.skill__card {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.skill__card-icon {
  width: 40px;
  height: 40px;
}
.skill-card-body {
  margin-left: 15px;
}

.skill_card__content {
  margin: 0;
  font-size: 0.9rem;
  color: #6e7e91;
}

/* resume */

.resume {
  padding-top: 20px;
}

.resume-card__heading,
.reume-language__heading {
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #354538;
}

.resume-card__body {
  margin-top: 10px;
}

.resume-card__title {
  font-weight: 700;
}

.resume-card__name {
  font-size: 16px;
}

.resume-card__details {
  font-size: 0.9rem;
  padding-top: 5px;
}

/* bar */
.bar {
  width: 90%;
  background-color: #f1f2f3;
  border-radius: 20px;
  margin-bottom: 12px;
}

.bar__icon {
  width: 15px;
  height: 15px;
}

.bar__wrapper {
  background-image: linear-gradient(90deg, #00f260, #0575e6);
  border-radius: 20px;
  padding: 4px 14px;
  color: #fff;
  font-size: 0.9rem;
}

/* projects */
.projects {
  height: 72vh;
  padding-top: 15px;
  overflow-y: auto;
}

.projectCard__wrapper {
  margin: 10px 0;
  width: 100%;
  height: 100%;
  min-height: 160px;
}

.projectCard__image {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  border: 1px solid #00f260;
  transition: transform 0.3s linear;
}

.projectCard__image:hover {
  transform: scale(1.05);
}

.projectCard__icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.projectCard__title {
  margin-top: 12px;
  font: size 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__navbar {
  display: flex;
  margin-bottom: 5px;
}

.projects__navbar > div {
  margin: 0 5px;
  font-size: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .portfolio__main-content {
    margin-top: 30px;
  }
}
